section.contact {
    background-image: initial;
}

.contacto {
    text-align: center;
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}




.cont {
    margin-bottom: 20px;
    flex: 1 0 280px;
}

.cont h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.cont a {
    color: var(--color-dark-blue);
    text-decoration: none;
}
.cont a:hover {
    text-decoration: underline;
}


