
section.catalogo {
    padding: 30px 20px;
    background-color: var(--color-white);
}
section.catalogo h1 {
    font-size: 3rem;
    line-height: 2.5rem;
    margin-bottom: 30px;
}
.tarjeta-catalogo {
    padding: 20px;
}
.tarjeta-catalogo h2 {
    margin-bottom: 10px;
}
.tarjeta-catalogo ul {
    padding-left: 30px;
    
}
.tarjeta-catalogo li {
    list-style-image: url(../icon/star-cyan-list.png);
    margin-bottom: 10px;;

}
.tarjeta-catalogo img {
   
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    box-shadow: 5px 5px 5px grey;
}

@media (min-width: 720px) { 
    section.catalogo {
        padding: 60px;
       
    }
    section.catalogo h1 {
        font-size: 4rem;
        line-height: 4rem;
        
    }

    .tarjeta-catalogo {
        display: flex;
        gap: 2rem;
    }
    .tarjeta-catalogo:nth-last-of-type(odd){
        flex-direction: row-reverse;
    }
    .tarjeta-catalogo > * {
        flex: 0 0 50%;
        overflow: hidden;
    }

    .tarjeta-catalogo img {
        
        height: 250px;
        object-fit: cover;
        object-position: center;
    }

}
