

.banner {
   
    color: var(--color-white);
    background-image: linear-gradient(#0007,#0007),url("../img/meet01.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    position: relative;
    text-align: start;  


}
.banner-content {
    position: relative;
    z-index: 2;
    max-width: 750px;
    padding: 50px 20px;
    
}


.banner-content h1 {
    font-size: 4rem;
    color: var(--color-white);
    text-align: left;
    /* text-shadow: 0 0 3px black; */
    line-height: 4rem;
    
}

.banner-content h3 {
    font-size: 1.3rem;
    /* margin-left: 160px; */
    margin-top: 20px;
    
    font-weight: 400;    
}

/*---------------SECCION CALIDAD Y EFICIENCIA ------------------------------*/
section.students {
    background-color: var(--color-dark-gray);
    padding: 0 30px;
}
.students-container {
    background-color: var(--color-dark-gray);
    padding: 20px;
}
.students-item {
    padding: 20px;
    border-radius: 30px 0 0 0;
    display: flex;
    gap: 16px;
}
.students-content > h4 {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.students-item:first-of-type {
    background-color: var(--color-blue-gray);
    color: var(--color-gray)

}
.students-item:last-of-type {
    color: var(--color-light-gray);
    background-color: var(--color-dark-gray);

}
.students-item i {
    font-size: 2rem;
}
.students-image {
    width: 100%;
    border-radius: 0 0 30px 0;
}
.text-medio-content {
    background-color: var(--color-white);
    margin-top: 20px;
    padding: 30px;
    border-radius: 0 30px 0 0;
    color: var(--color-gray);
}
.text-medio-content h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}



@media (min-width: 980px) {
    .banner-content {
        padding: 150px 50px;
        
    }

    
    .banner-content h1 {
        font-size: 6rem; 
        line-height: 6rem;   
        
    }

   
    
    .banner-content h3 {
        font-size: 1.3rem;
        /* margin-left: 160px; */
        margin-top: 20px;
        
        font-weight: 400;    
    }
    section.students {
        padding: 0;
        
        
    }
    .text-medio {
        display: flex;
        


    }
    .text-medio > *{
        flex: 1 1 50%;
    }
    .text-medio-content {
        border-radius: 0;

        
    }
    .text-medio-content h3 {
        font-size: 3rem;
        
    }
    .text-medio-content > * {
        max-width: 550px;
    }
    
    .students-container {
        background-color: initial;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        padding: initial;
        
    }
    .students-container > * {
        flex: 0 0 25%;
    }
    .students-item:last-of-type {
        border-radius: 0;
    }
    .text-medio-flex {
        display: flex;
        justify-content: flex-start;
    }
    .text-medio-flex >  * {
        flex: 0 0 300px;
    }
    div.text-medio-content {
        margin: 0;
    }
    .students-image {
       height: 100%;
       border-radius: initial;
       object-fit: cover;
    }

    

}

/* SECCION CURSOS*/

section.cursos {
    background-color: var(--color-light-gray);
    color: var(--color-gray);
    padding: 50px 20px
    
}
.cursos-header {
    text-align: center;    
    
}

.cursos-header p {
    margin: 30px auto 20px;
}
.curso {
    border-radius: 30px;
    border: 1px solid var(--color-logo-sky);
    margin: 0 auto 30px;
    background-color: var(--color-white);
    max-width: 320px;
    
}
.curso img {
    width: 100%;
    border-radius: 30px 30px 0 0;
    height: 200px;
    object-fit: cover;
}
.curso-content {
    padding: 20px;
}
.curso-content h3 {
    font-size: 1.3rem;    
}
.curso-content h4 {
    font-size: .8rem;   
    font-weight: 400;
    font-family: "Open Sans", Arial, sans-serif;
    color: var(--color-dark-blue);
    margin-bottom: .8rem;
}
.diferente {
    text-align: center;


}


@media (min-width: 980px) {
    .cursos-flex {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    .cursos-flex > * {
        flex: 1 1 300px;
    }
    .cursos-header h2 {
        font-size: 3.5rem;
        
    }
    .cursos-header p {
        font-size: 1.1rem;
        max-width: 600px;
        
    }
    .diferente p {
        font-size: 1.1rem;
        
    }
}



