:root {
    --color-light-gray: #eeeeee;
    --color-dark-gray: #2a2f31;
    --color-white: #ffffff;
    --color-blue-gray: #b1ccdd;
    --color-black: black;
    --color-gray: #333333;
    --color-light-blue-gray: #9c9e9c;
    --color-icon-bg: #b1ccdd;
    --color-border: #E0E0E0;
    --color-dark-blue: #8086a3;
    --color-logo-navy: #113159;
    --color-logo-sky: #87b5d6;
}
header.main-header {
    background-color: var(--color-white);
    height: 80px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header.main-header > * {
    display: block;
}
a.logo > img {
    height: 50px;
    
}
i.fa-bars {
    font-size: 24px;
    color: var(--color-logo-sky);
    cursor: pointer;
    
}
i.fa-bars:hover {    
    color: var(--color-logo-navy);
    transition: .5s;    
}
nav.nav-desktop {
    display: none;
}
nav.nav-mobile {
    background-color: var(--color-white);
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    padding: 24px;
    z-index: 100;
    display: none;
}
nav.nav-mobile li {
    list-style: none;    
    border-bottom: 1px solid var(--color-light-gray);
}
nav.nav-mobile li:hover {
    background-color: var(--color-light-gray);
    transition: .5s;
}
nav.nav-mobile a {
    color: var(--color-logo-navy);
    text-decoration: none;
    display: block;
    padding: 14px;
}

@media (min-width: 980px) {
    i.fa-bars {
        display: none;
    }
    .nav-mobile {
        display: none !important;
    }
    nav.nav-desktop {
        display: block;
    }
    nav.nav-desktop ul {
        display: flex;
    }
    nav.nav-desktop li {
        list-style: none;
        margin-left: 20px
    }

    nav.nav-desktop a {
        text-decoration: none;
        color: var(--color-gray)
    }
    nav.nav-desktop a:hover {
        color: var(--color-logo-navy);

    }



    
}