@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}
:root {
    --color-light-gray: #eeeeee;
    --color-dark-gray: #2a2f31;
    --color-white: #ffffff;
    --color-blue-gray: #b1ccdd;
    --color-black: black;
    --color-gray: #333333;
    --color-light-blue-gray: #9c9e9c;
    --color-icon-bg: #b1ccdd;
    --color-border: #E0E0E0;
    --color-dark-blue: #87b5d6;
    --color-logo-navy: #113159;
    --color-logo-sky: #cadfed;
}

/*  ********************************* * *  * * * * * * * * *  *********************************************** */
/*  *********************************     ESTILOS GENERALES   *********************************************** */
/*  ********************************* * *  * * * * * * * * *  *********************************************** */

body {
    font-family: "Open Sans", Arial, sans-serif;
    background-color: var(--color-light-gray);
    ;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
}
section:not(section:banner) {
    padding: 50px 20px;
}
section header {
    margin-bottom: 2rem;
}
section header > h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

p a {
    color: var(--color-logo-navy);
    text-decoration: none;
}
p a:hover {
    text-decoration: underline;
}

/* BOTONES */
a.btn {
    display: block;
    width: fit-content;
    border-radius: 50px;
    padding: 20px;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    margin: 30px 0;
    text-decoration: none;
}
a.btn:after {
    content: ">";
    position: absolute;
    right: 20px;
    opacity: 0;
    transition: .2s;
}
a.btn:hover:after {
    opacity: 1;
    right: 8px;
}
a.btn1 {    
    background-color: var(--color-light-gray);
    color: var(--color-dark-gray)    
    
}
a.btn2 {    
    color: var(--color-light-gray);
    background-color: var(--color-dark-gray);
}



p {
    line-height: 1.5rem;
    font-size: 0.9rem;
    
}

.section-container {
    position: relative;
    max-width: 1200px;
    margin: auto;
}



/*  ********************************* * *  * * * * * * * * *  *********************************************** */
/*  ********************************* * *  * HEADER NAV  * *  *********************************************** */
/*  ********************************* * *  * * * * * * * * *  *********************************************** */

header.main-header {
    background-color: var(--color-white);
    height: 80px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}
header.main-header > * {
    display: block;
}
a.logo > img {
    height: 50px;
    
}
i.fa-bars {
    font-size: 24px;
    color: var(--color-logo-navy);
    cursor: pointer;
    
}
i.fa-bars:hover {    
    color: var(--color-dark-blue);
    transition: .5s;    
}
nav.nav-desktop {
    display: none;
}
nav.nav-mobile {
    background-color: var(--color-white);
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    padding: 24px;
    z-index: 100;
    display: none;
}
nav.nav-mobile li {
    list-style: none;    
    border-bottom: 1px solid var(--color-light-gray);
}
nav.nav-mobile li:hover {
    background-color: var(--color-light-gray);
    transition: .5s;
}
nav.nav-mobile a {
    color: var(--color-logo-navy);
    text-decoration: none;
    display: block;
    padding: 14px;
}

@media (min-width: 980px) {
    i.fa-bars {
        display: none;
    }
    .nav-mobile {
        display: none !important;
    }
    nav.nav-desktop {
        display: block;
    }
    nav.nav-desktop ul {
        display: flex;
    }
    nav.nav-desktop li {
        list-style: none;
        margin-left: 20px
    }

    nav.nav-desktop a {
        text-decoration: none;
        color: var(--color-gray)
    }
    nav.nav-desktop a:hover {
        color: var(--color-logo-navy);

    }



    
}


/*FORM*/

/* Form Section */

section.contact {
    
    background-image: linear-gradient(#fff5,#fff5),url(../img/office2.jpg);
    padding: 50px 20px;
    
    
}
.formContact {
    background: var(--color-icon-bg);
    padding: 20px;
    border-radius: 30px;    
    text-align: right;     
    max-width: 400px;
}
form input, form textarea {
    padding: 20px;
    border: 1px solid var(--color-black);
    border-radius: 10px;
    /* font-size: 1rem; */
    background: transparent;
    width: 100%;
    margin: 5px 0;
    outline: none;
}

form input:focus, form textarea:focus {
    background-color: var(--color-logo-sky);
}

form input::placeholder, form textarea::placeholder {
    color: var(--color-dark-gray);
}

.textareaContact {
   
    height: 160px;
    
}

.btnContact {
    width: 150px;
    padding: 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 1.2rem;
    cursor: pointer;   
}

.cardsContact {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    margin: 30px 80px;
}

.card {
    flex: 1;
    padding: 15px;
    border-radius: 8px;
}

.card h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
}

.card p {
    margin: 5px 0;
}
